@model IEnumerable<ZweeKwatMarket.Models.Product>



<div style="text-align:center; padding-top:50px;">
    <h3 class="wthree_text_info">All Products <span style="color:#7fa33e">@@Zwee Kwat Market</span></h3>
</div>

<div class="new_arrivals_agile_w3ls_info">
    <div class="container">

        @foreach (var item in Model)
        {

            <div class="col-md-3 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <div><img src="~/images/ProductProfile/@item.ImagePath" width="200px" height="200px"></div>
                    </div>
                    <div class="item-info-product ">
                        <h3 style="color:red; height:100px;">@item.Name</h3>
                        <div class="info-product-price" style="padding-top:20px; padding-bottom:20px">
                            <h5 style="height:50px;">Store - @item.StoreID</h5>
                            <h5>Price - @item.Price</h5>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

                            @*<button class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2" data-id="@item.ID" data-name="@item.Name" data-summary="summary 5" data-price="@item.Price" data-quantity="1" data-image="/images/ProductProfile/@item.ImagePath">Add to Cart</button>*@

                            <form action="/Home/CheckOut" method="post">
                                <input type="hidden" value="@item.ID" name="ID"/>
            <input type="submit" name="BuyNow" value="Buy Now" class="button"  data-id="@item.ID" data-name="@item.Name" data-summary="summary 5" data-price="@item.Price" data-quantity="1" data-image="/images/ProductProfile/@item.ImagePath" />

        </form>
                        </div>

                    </div>
                </div>
            </div>

        }

    </div>
</div>










